* {
    margin: 0;
    padding: 0;
}


.main {
    height: 100vh;
    width: 100vw;
    background-image: url('images/bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.titles {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.titles h2 {
    margin: 3px 0px;
    color: rgb(0, 0, 0, 2);
    font-size: 30px;
    font-family: 'Poppins';
    font-weight: bold;
}


.inputs {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.inputs div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
}

.inputs input[type="text"] {
    width: 60px;
    padding: 10px;
    /* Add padding inside the inputs */
    border: 1px solid #ccc;
    /* Add a border to the inputs */
    border-radius: 5px;
    /* Round the corners of the inputs */
    font-size: 1rem;
    /* Set the font size of the inputs */
    text-align: center;
    /* Center the text inside the inputs */
    margin-bottom: 5px;
    /* Space between the input and the label */
}

.inputs label {
    font-size: 1rem;
    /* Set the font size of the labels */
    color: #333;
    /* Set the text color of the labels */
}


.date,
.input {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background: transparent;
    width: 100%;
    padding: 20px;
    /* border-radius: 8px; */
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}

.input label {
    font-size: 1.5em;
    font-weight: bold;
    color: #333;
}

.input input[type="text"] {
    width: 20%;
    padding: 10px;
    font-size: 1em;
    border: 2px solid #ddd;
    border-radius: 4px;
    transition: border-color 0.3s, box-shadow 0.3s;
}

#enterBtn,
#reloadBtn {
    width: 6%;
    padding: 10px;
    font-size: 1em;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    /* background-color: blue; */
    /* color: white;  */
}

#reloadBtn {
    align-items: center;
}


.completed {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border: 2px solid red; */
    height: 90px;
    row-gap: 20px;

}

.input input[type="text"]:focus {
    border-color: #5b9bd5;
    box-shadow: 0 0 8px rgba(91, 155, 213, 0.3);
    outline: none;
}